.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.home__bodyWrapper {
    display: grid;
    width: 100vw;
    place-items: center;
}
.home__body {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 1128px;
}