.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding: 10px 0;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
}

.header__left {
    display: flex;
}
.header__left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}


.header__search {
    border-radius: 5px;
    display: flex;
    padding: 10px;
    align-items: center;
    height: 22px;
    background: #eef3f8;
    color: gray;
}

.header__search > input {
    outline: none;
    border: none;
    background: #eef3f8;
    margin-left: .5rem;
}

.header__right {
    display: flex;
    
}