
.header {
    background-color: #ffffff;
    width: 100vw;
    border-bottom: 0.1px solid lightgray;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
}

/* small trick to center items in flex */
.header__wrapper {
    top: 0;
    display: flex;
    padding: 10px 0;
    margin: 0px auto;
    align-items: center;
    min-height: 100%;
    width: 1128px;
    min-width: 50px;
}

.header__left {
    display: flex;
    flex: 1;
    margin-right: 20px;
    z-index: 222;
}
.header__left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
    padding-left: 1.2rem;
}


.header__search {
    border-radius: 5px;
    display: flex;
    width: 55%;
    padding: 10px;
    align-items: center;
    height: 22px;
    background: #eef3f8;
    color: gray;
    transition: all 0.3s ease-in;
    
}
.grow {
    flex-grow: 0.6;
}
.header__search > input {
    outline: none;
    border: none;
    background: #eef3f8;
    margin-left: .5rem;
    width: 100%;
}

.header__right {
    display: flex;
}

.dropdown {
    position: relative;
    box-sizing: border-box;
}
.header__end {
}
.header__end > p {
    display: inline-block;
    white-space: nowrap;
}


.dropdown__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: .3rem;
    box-shadow: 0px 4px 12px rgba(0,0,0,15%);
    width: 16.5rem;
    overflow: hidden;
    position: absolute;
    display: none;
}
.dropdown:hover .dropdown__container {
    display: block;
}

.dropdown__top, .dropdown__center, .dropdown__bottom,.dropdown__signout {
    padding: .6rem;
}

.dropdown__profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .6rem;

}

.dropdown__profileImg {
    width: 48px !important;
    height: 48px !important;
}
.dropdown__profileInfo {
    margin-left: .6rem;
    margin-bottom: .3rem;

}
.dropdown__profileInfo > h2 {
    font-size: 1rem;
    font-weight: 500;
}
.dropdown__profileInfo > p {
    font-size: .9rem;
}

.dropdown__top > button {
    width: 100%;
    padding: .2rem 0rem;
    border-radius: 10px;
    border: .12rem solid #0a66c2;
    background-color: white;
    font-size: .9rem;
    font-weight: 600;
    line-height: 15px;
    color: #0a66c2;
    cursor: pointer;
    outline: none;
}
.dropdown__splitter {
    width: 100%;
    border: 1px solid rgba(160,160,255,0.1);
    margin: .2rem;
    border-width: 0.01em;
    box-sizing: border-box;
}

.dropdown__account > h3, .dropdown__manage > h3 {
    font-size: 1rem;
    font-weight: 500;
}

.dropdown__account > p, .dropdown__manage > p , .dropdown__signout > p{
    font-size: .9rem;
    color: rgba(0,0,0,0.6);
    padding:.2rem 0rem;
    cursor: pointer;
}

.dropdown__account > p:hover, .dropdown__manage > p:hover , .dropdown__signout > p:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1028px){
    .header__search > input {
        display: none;
    }
    .header__search {
        border-radius: 5px;
        width: 25px;
        display: flex;
        padding: 10px;
        align-items: center;
        height: 22px;
        background: #eef3f8;
        color: gray;
        transition: all 0.3s ease-in;
        flex: 0.2;
    }
    .header__left {
        flex: 0.4;
    }
    .expand {
        width: 80px;
        display: block;
    }
}