.headerOption {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    color: gray;
    margin-right: 25px;
    transition: all .2s ease-in;
}

.headerOption:hover {
    color: black;
}

.headerOption__title {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    display: inline-block;
    white-space: nowrap;
}

.headerOption__icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}