.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.register__logo {
    height: 100px;
    width: 100%;
    margin-left: -15px;
    margin-bottom: -5px;
}
.register__logo > img {
    height: 100%;
    object-fit: contain;
    
}
.register__container {
    border: 1px solid whitesmoke;
    padding: 1.3rem;
    /* box-shadow: 2px 2px 10px 2px rgb(0,0,0,15%), -2px -2px 10px -2px  rgb(0,0,0,15%); */
    box-shadow: 0px 4px 12px rgb(0,0,0,15%);
    background-color: white;
    border-radius: .3rem;
}

.register__container > h1 {
    font-weight: 600;
}
.register__container > p {
    margin-bottom: 10px;
    font-size: .9rem;
}
.rform > h3  {
    padding: 1rem 0rem;
    font-size: 1rem;
    color: #0a66c2;
}

.register__email, .register__password {
    outline: none;
    padding: .8rem;
    margin-top: 1rem;
    width: 20rem;
    font-size: 1.2rem;
    border-radius: .3rem;
    border: .08rem solid rgba(0,0,0,0.6);
    position: relative;
}

.form__registerBtn {
    width: 100%;
    text-align: center;
    padding: 1.1rem 0rem;
    border-radius: 60px;
    outline: none;
    border: 1px solid #0a66c2;
    background-color: #0a66c2;
    transition: all 0.2s ease-in;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.form__registerBtn:hover {
    background-color: #004182;
}

.register__newUser {
    padding: 2.5rem 0rem;
    text-align: center;
}

.signIn__oldUser > a {
    color: #0a66c2;
    cursor: pointer;
    font-weight: 500;
}

/* @media screen and (max-width: 400px) {

} */